{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "constructor-super": "error",
    "no-dupe-keys": "error",
    "accessor-pairs": "warn"
  }
}